<!doctype html>
<html lang="en">
<!-- Mirrored from www.xceptional.com/services/request-a-quote-managed-it-services by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Oct 2023 17:36:25 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>


  <meta charset="utf-8">
  <title>Request a Quote for Managed IT Services | Xceptional</title>
  <link rel="shortcut icon" href="../hubfs/fav.webp">
  <meta name="description"
    content="Thank you for Requesting a Managed IT Services Quote. We will be in touch with you soon. Learn more about Xceptional today. ">




  <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
  <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
  <!--    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">-->
  <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->



  <meta property="og:description"
    content="Thank you for Requesting a Managed IT Services Quote. We will be in touch with you soon. Learn more about Xceptional today. ">
  <meta property="og:title" content="Request a Quote for Managed IT Services | Xceptional">
  <meta name="twitter:description"
    content="Thank you for Requesting a Managed IT Services Quote. We will be in touch with you soon. Learn more about Xceptional today. ">
  <meta name="twitter:title" content="Request a Quote for Managed IT Services | Xceptional">





  <style>
    a.cta_button {
      -moz-box-sizing: content-box !important;
      -webkit-box-sizing: content-box !important;
      box-sizing: content-box !important;
      vertical-align: middle
    }

    .hs-breadcrumb-menu {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px
    }

    .hs-breadcrumb-menu-item {
      float: left;
      padding: 10px 0px 10px 10px
    }

    .hs-breadcrumb-menu-divider:before {
      content: '›';
      padding-left: 10px
    }

    .hs-featured-image-link {
      border: 0
    }

    .hs-featured-image {
      float: right;
      margin: 0 0 20px 20px;
      max-width: 50%
    }

    @media (max-width: 568px) {
      .hs-featured-image {
        float: none;
        margin: 0;
        width: 100%;
        max-width: 100%
      }
    }

    .hs-screen-reader-text {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px
    }
  </style>

  <link rel="stylesheet"
    href="../hs-fs/hub/6853069/hub_generated/template_assets/49003714141/1678218767378/xceptional-2021-theme/css/main.min.css">
  <link rel="stylesheet"
    href="../hs-fs/hub/6853069/hub_generated/template_assets/49003857187/1666391428183/xceptional-2021-theme/css/theme-overrides.min.css">
  <!-- Editor Styles -->
  <style id="hs_editor_style" type="text/css">
    #hs_cos_wrapper_module_16835651597523 {
      display: block !important;
      margin-top: 20px !important
    }

    #hs_cos_wrapper_module_1624336981143 {
      display: block !important;
      text-align: center !important
    }

    #hs_cos_wrapper_widget_1624480478233 {
      display: block !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important
    }

    #hs_cos_wrapper_module_16244829800176 {
      display: block !important;
      text-align: center !important
    }

    #hs_cos_wrapper_module_1624337123212 {
      color: #FFFFFF !important;
      display: block !important;
      font-weight: bold !important;
      text-align: center !important
    }

    #hs_cos_wrapper_module_1624337123212 p,
    #hs_cos_wrapper_module_1624337123212 li,
    #hs_cos_wrapper_module_1624337123212 span,
    #hs_cos_wrapper_module_1624337123212 label,
    #hs_cos_wrapper_module_1624337123212 h1,
    #hs_cos_wrapper_module_1624337123212 h2,
    #hs_cos_wrapper_module_1624337123212 h3,
    #hs_cos_wrapper_module_1624337123212 h4,
    #hs_cos_wrapper_module_1624337123212 h5,
    #hs_cos_wrapper_module_1624337123212 h6 {
      color: #FFFFFF !important;
      font-weight: bold !important
    }

    #hs_cos_wrapper_widget_1623966918876 {
      display: block !important;
      text-align: center !important
    }

    #hs_cos_wrapper_module_16835651597523 {
      display: block !important;
      margin-top: 20px !important
    }

    #hs_cos_wrapper_module_1624336981143 {
      display: block !important;
      text-align: center !important
    }

    #hs_cos_wrapper_widget_1624480478233 {
      display: block !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important
    }

    #hs_cos_wrapper_module_16244829800176 {
      display: block !important;
      text-align: center !important
    }

    #hs_cos_wrapper_module_1624337123212 {
      color: #FFFFFF !important;
      display: block !important;
      font-weight: bold !important;
      text-align: center !important
    }

    #hs_cos_wrapper_module_1624337123212 p,
    #hs_cos_wrapper_module_1624337123212 li,
    #hs_cos_wrapper_module_1624337123212 span,
    #hs_cos_wrapper_module_1624337123212 label,
    #hs_cos_wrapper_module_1624337123212 h1,
    #hs_cos_wrapper_module_1624337123212 h2,
    #hs_cos_wrapper_module_1624337123212 h3,
    #hs_cos_wrapper_module_1624337123212 h4,
    #hs_cos_wrapper_module_1624337123212 h5,
    #hs_cos_wrapper_module_1624337123212 h6 {
      color: #FFFFFF !important;
      font-weight: bold !important
    }

    .dnd_area-row-0-background-color {
      background-color: rgba(248, 250, 252, 1) !important;
    }

    .dnd_area-row-0-force-full-width-section>.row-fluid {
      max-width: none !important;
    }

    .dnd_area-row-1-background-color {
      background-color: rgba(248, 250, 252, 1) !important;
    }

    .dnd_area-row-1-max-width-section-centering>.row-fluid {
      max-width: 1240px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .dnd_area-row-3-background-color {
      background-color: rgba(0, 102, 153, 1) !important;
    }

    .dnd_area-row-3-max-width-section-centering>.row-fluid {
      max-width: 1240px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .dnd_area-row-5-background-color {
      background-color: rgba(248, 250, 252, 1) !important;
    }

    .dnd_area-row-6-background-color {
      background-color: rgba(1, 90, 168, 1) !important;
    }

    .widget_1683564953011-flexbox-positioning {
      display: -ms-flexbox !important;
      -ms-flex-direction: column !important;
      -ms-flex-align: center !important;
      -ms-flex-pack: start;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: flex-start;
    }

    .widget_1683564953011-flexbox-positioning>div {
      max-width: 100%;
      flex-shrink: 0 !important;
    }

    .widget_1677279109651-flexbox-positioning {
      display: -ms-flexbox !important;
      -ms-flex-direction: column !important;
      -ms-flex-align: start !important;
      -ms-flex-pack: start;
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start;
    }

    .widget_1677279109651-flexbox-positioning>div {
      max-width: 100%;
      flex-shrink: 0 !important;
    }

    /* HubSpot Non-stacked Media Query Styles */
    @media (min-width:768px) {
      .dnd_area-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .dnd_area-row-1-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .dnd_area-row-3-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .dnd_area-row-4-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .dnd_area-row-6-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .cell_1683053390764-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_1683053390764-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1629133062859-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
      }

      .cell_1629133062859-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1683565159752-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
      }

      .cell_1683565159752-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1629385722979-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
      }

      .cell_1629385722979-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1629385722979-row-0-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .widget_1624480478233-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: start !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
      }

      .widget_1624480478233-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_16244829800172-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_16244829800172-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_16243351478852-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_16243351478852-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .footer-column-1-row-1-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .cell_16656799478412-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_16656799478412-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1665679947840-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_1665679947840-vertical-alignment>div {
        flex-shrink: 0 !important;
      }
    }

    /* HubSpot Styles (default) */
    .dnd_area-row-0-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .dnd_area-row-3-padding {
      padding-top: 60px !important;
      padding-bottom: 40px !important;
      padding-left: 40px !important;
      padding-right: 40px !important;
    }

    .cell_1683053390764-padding {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .widget_1629133062061-hidden {
      display: block !important;
    }

    .footer-column-4-padding {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .footer-column-4-row-4-margin {
      margin-top: 12px !important;
      margin-bottom: 12px !important;
    }

    .cell_16656799478412-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .cell_1665679947840-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  </style>
  <style>
    @font-face {
      font-family: "Open Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("../_hcms/googlefonts/Open_Sans/regular.woff2") format("woff2"), url("../_hcms/googlefonts/Open_Sans/regular.woff") format("woff");
    }
  </style>





  <link rel="canonical" href="request-a-quote-managed-it-services.html">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NVMWQ4L');</script>
  <!-- End Google Tag Manager -->
  <!-- Crazy Egg Tag -->
  <script type="text/javascript" src="../../script.crazyegg.com/pages/scripts/0110/8911.js" async></script>
  <!-- End Grazy Egg Tag -->
  <meta property="og:image"
    content="https://www.xceptional.com/hubfs/social-suggested-images/Xceptional_sg_may22%20%286%29-1.png#keepProtocol">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">

  <meta name="twitter:image"
    content="https://www.xceptional.com/hubfs/social-suggested-images/Xceptional_sg_may22%20%286%29-1.png#keepProtocol">


  <meta property="og:url" content="https://www.xceptional.com/services/request-a-quote-managed-it-services">
  <meta name="twitter:card" content="summary_large_image">
  <meta http-equiv="content-language" content="en">







  <meta name="generator" content="HubSpot">
</head>

<body>

  <div class="body-wrapper   hs-content-id-113901982030 hs-site-page page ">

    <%- include ('../partials/header') %>
    <main id="main-content" class="body-container-wrapper">

      <div class="container-fluid body-container body-container--home">
        <div class="row-fluid-wrapper">
          <div class="row-fluid">
            <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

              <div
                class="row-fluid-wrapper row-depth-1 row-number-1 dnd_area-row-0-vertical-alignment dnd_area-row-0-background-color dnd_area-row-0-force-full-width-section dnd-section dnd_area-row-0-padding">
                <div class="row-fluid ">
                  <div
                    class="span12 widget-span widget-type-cell cell_1683053390764-vertical-alignment cell_1683053390764-padding dnd-column"
                    style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-2 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_dnd_area-module-1"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style=""
                            data-hs-cos-general-type="widget" data-hs-cos-type="module">
                            <div class="banner-image"
                              style="background-image:url('../hubfs/MicrosoftTeams-image%20(1).png')">
                              <div class="row-fluid row align-items-center">
                                <div class="banner-text-area col-lg-6 text-center text-md-left px-3 px-sm-5 px-md-3">
                                  <h1> Request Pricing for Managed IT Services </h1>
                                  <p> </p>









                                </div>

                              </div>
                            </div>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div
                class="row-fluid-wrapper row-depth-1 row-number-3 dnd_area-row-1-vertical-alignment dnd_area-row-1-background-color dnd_area-row-1-max-width-section-centering dnd-section">
                <div class="row-fluid ">
                  <div class="span6 widget-span widget-type-cell cell_1683565159752-vertical-alignment dnd-column"
                    style="" data-widget-type="cell" data-x="0" data-w="6">

                    <div class="row-fluid-wrapper row-depth-1 row-number-4 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_16835651597523"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_module_16835651597523_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <h2 style="font-size: 30px; font-weight: bold;">Work With a Managed Services Provider With
                                Xceptional Value&nbsp;</h2>
                              <p>Whether your company wants to take a holistic approach to managed IT services or just
                                wants to supplement your internal IT team, Xceptional provides the services you need
                                using a pricing model that fits your budget. We deliver managed services at a great
                                value, with the most impact, and with an accelerated return on investment. <br><br>To
                                help your company find the right mix of managed IT services at the right price, we are
                                offering the opportunity to request a quote.&nbsp; <br><br><span
                                  style="font-weight: bold;">What to Expect&nbsp;</span></p>
                              <ol>
                                <li>Fill out the form to tell us a little bit about your business.</li>
                                <li>An Xceptional Account Manager will follow up to schedule your 30-minute Discovery
                                  Meeting​.</li>
                                <li>After the Discovery Meeting, participate in a 60-minute Assessment with an IT
                                  Engineer during which you will take a deep dive into your existing architecture, pain
                                  points, and more.​&nbsp;</li>
                                <li>Based on a review of the Assessment, the Xceptional team will put together your
                                  custom quote and pricing and set up a follow-up conversation to discuss it with
                                  you.&nbsp;</li>
                              </ol>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                  <div class="span6 widget-span widget-type-cell cell_1629133062859-vertical-alignment dnd-column"
                    style="" data-widget-type="cell" data-x="6" data-w="6">

                    <div class="row-fluid-wrapper row-depth-1 row-number-5 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget widget_1629133062061-hidden dnd-module"
                          style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1629133062061"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style=""
                            data-hs-cos-general-type="widget" data-hs-cos-type="module">
                            <div class="form-block-wrapper">
                              <div class="row mb-3">
                                <div class="col text-center">

                                </div>
                                <div class="col align-self-center">
                                  <h3></h3>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <p class="mb-2"></p>
                                  <h4><b>Fill out the form to request a quote.</b></h4>
                                  <p></p>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col">
                                  <span id="hs_cos_wrapper_widget_1629133062061_"
                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style=""
                                    data-hs-cos-general-type="widget" data-hs-cos-type="form">
                                    <h3 id="hs_cos_wrapper_form_825871832_title" class="hs_cos_wrapper form-title"
                                      data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

                                    <div id="hs_form_target_form_825871832"></div>









                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-6 dnd-section">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell"
                    data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-7 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_1624336981143"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">



                            <span id="hs_cos_wrapper_module_1624336981143_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="header">
                              <h2>Our Managed IT Services</h2>
                            </span>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-8 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_1624336992724"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_module_1624336992724_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <h4 style="text-align: center; font-weight: normal;">Xceptional offers a wide variety of
                                services, including:</h4>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-9 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1624305374710"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style=""
                            data-hs-cos-general-type="widget" data-hs-cos-type="module">
                            <div class="card-deck general-cards cards-6 justify-content-center">

                              <div class="card">




                                <img class="card-img-top"
                                  src="../hubfs/xceptional-2021-theme/icon-Managed-IT-Services.min_.svg"
                                  alt="icon-Managed-IT-Services.min_" loading="lazy" width="128" height="128">


                                <div class="card-body border-0">


                                  <p class="card-text">Remote and local infrastructure management support </p>

                                </div>


                              </div>

                              <div class="card">




                                <img class="card-img-top"
                                  src="../hubfs/xceptional-2021-theme/icons/24-7-magnifying-glass.svg"
                                  alt="24-7-magnifying-glass" loading="lazy" width="400" height="400">


                                <div class="card-body border-0">


                                  <p class="card-text">24/7 Monitoring</p>

                                </div>


                              </div>

                              <div class="card">




                                <img class="card-img-top" src="../hubfs/xceptional-2021-theme/icons/cloud-serivce.svg"
                                  alt="cloud-serivce" loading="lazy" width="400" height="400">


                                <div class="card-body border-0">


                                  <p class="card-text">Cloud computing integration and implementation </p>

                                </div>


                              </div>

                              <div class="card">




                                <img class="card-img-top" src="../hubfs/xceptional-2021-theme/icons/upload-download.svg"
                                  alt="upload-download" loading="" width="400" height="400">


                                <div class="card-body border-0">


                                  <p class="card-text">Backup and recovery </p>

                                </div>


                              </div>

                              <div class="card">




                                <img class="card-img-top" src="../hubfs/xceptional-2021-theme/icons/code-bug.svg"
                                  alt="code-bug" loading="lazy" width="400" height="400">


                                <div class="card-body border-0">


                                  <p class="card-text">Cybersecurity technologies</p>

                                </div>


                              </div>

                              <div class="card">




                                <img class="card-img-top" src="../hubfs/xceptional-2021-theme/icons/chart.svg"
                                  alt="chart" loading="lazy" width="400" height="400">


                                <div class="card-body border-0">


                                  <p class="card-text">Capacity planning</p>

                                </div>


                              </div>

                            </div>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div
                class="row-fluid-wrapper row-depth-1 row-number-10 dnd_area-row-3-max-width-section-centering dnd-section dnd_area-row-3-padding dnd_area-row-3-background-color dnd_area-row-3-vertical-alignment">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-cell cell_1629385722979-vertical-alignment dnd-column"
                    style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div
                      class="row-fluid-wrapper row-depth-1 row-number-11 dnd-row cell_1629385722979-row-0-vertical-alignment">
                      <div class="row-fluid ">
                        <div
                          class="span12 widget-span widget-type-custom_widget widget_1624480478233-vertical-alignment dnd-module"
                          style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1624480478233"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_widget_1624480478233_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <p class="text-white" style="font-size: 24px; text-align: center;">“Xceptional’s team
                                impressed us with their thoroughness, attention to detail, and level of commitment. They
                                went above and beyond, providing key solutions at every turn with a can-do
                                attitude.”<br><br>-- Michael Limber, Project Manager, Secura Bio</p>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-12 dnd-section dnd_area-row-4-vertical-alignment">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-cell cell_16244829800172-vertical-alignment dnd-column"
                    style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-13 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_16244829800176"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">



                            <span id="hs_cos_wrapper_module_16244829800176_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="header">
                              <h2>Our Managed IT Services <span>Pricing Models</span></h2>
                            </span>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-14 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_16244829800177"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_module_16244829800177_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <p style="text-align: center;"><span data-contrast="none" xml:lang="EN-US"
                                  lang="EN-US"><span>Xceptional</span><span> offers two pricing models so you
                                    can</span><span> take advantage of affordable managed IT services that work the way
                                    you want them to</span><span>.</span></span></p>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-15 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1629177420262"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_widget_1629177420262_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <div class="row">
                                <div class="col col-lg-8 card-deck mx-auto mb-4">
                                  <div class="card">
                                    <div class="card-header border-0"><a id="pricing"
                                        data-hs-anchor="true"></a>&nbsp;&nbsp;&nbsp;
                                      <h3 class="mb-0 blue-text" style="text-align: center;">Device-Based Pricing</h3>
                                    </div>
                                    <div class="card-body border-0 lt-grey-bg">
                                      <ul class="pl-4 mb-0">
                                        <li>Best for companies with a small number of end-user devices</li>
                                        <li>Offers flexibility by paying to monitor specific devices and fix issues</li>
                                        <li>Risk leaving potential security gaps if coverage is not all-inclusive</li>
                                        <li>May not be cost-effective if employees have several devices each</li>
                                      </ul>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header border-0">
                                      <h3 class="mb-0 blue-text">&nbsp;</h3>
                                      <h3 class="mb-0 blue-text" style="text-align: center;">User-Based Pricing</h3>
                                    </div>
                                    <div class="card-body border-0 lt-grey-bg">
                                      <ul class="pl-4 mb-0">
                                        <li>All-inclusive with monitoring and maintenance</li>
                                        <li>Includes comprehensive onsite and remote support</li>
                                        <li>Makes it easy to add new employees by simply adding a user</li>
                                        <li>May cost more if you decide to use your own cyber security platforms</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <p class="text-center">Our Silver, Gold, and Platinum levels include Virtual Chief
                                Information Officer (vCIO) and procurement assistance. If you choose to use Xceptional
                                to perform services outside of the scope of your managed services contract, you will
                                receive a contracted discount rate.​&nbsp;</p>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-16 dnd-section dnd_area-row-5-background-color">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell"
                    data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-17 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1683747599901"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_widget_1683747599901_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <h2>&nbsp;</h2>
                              <h2><span style="color: #000000;"><a href="../partners-certifications.html" rel="noopener"
                                    style="color: #000000; font-weight: normal;">Partners, Awards
                                    &amp;Certifications</a></span></h2>
                              <div class="d-flex flex-row flex-wrap image-grid">
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/176342288ef1a.jpg?name=176342288.jpg"
                                    alt="176342288" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/179118192d60b.jpg?name=179118192.jpg"
                                    alt="179118192" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/8658500107ba6.jpg?name=865850010.jpg"
                                    alt="865850010" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/11934483218bb7.jpg?name=1193448321.jpg"
                                    alt="1193448321" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/13968885987a9b.jpg?name=1396888598.jpg"
                                    alt="1396888598" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/17342806988e25.jpg?name=1734280698.jpg"
                                    alt="1734280698" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/1858028638aaa6.jpg?name=1858028638.jpg"
                                    alt="1858028638" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/233554456918b1.jpg?name=2335544569.jpg"
                                    alt="2335544569" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/311409918343b7.jpg?name=3114099183.jpg"
                                    alt="3114099183" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/11051036141d1.png?name=110510361.png"
                                    alt="110510361" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/10396618461fb8.png?name=1039661846.png"
                                    alt="1039661846" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/11468580675730.png?name=1146858067.png"
                                    alt="1146858067" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/12021293867bee.png?name=1202129386.png"
                                    alt="1202129386" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/14373772382907.png?name=1437377238.png"
                                    alt="1437377238" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/205399360489b7.png?name=2053993604.png"
                                    alt="2053993604" loading="lazy"></div>
                                <div class=""><img class="img-fluid"
                                    src="../../6853069.fs1.hubspotusercontent-na1.net/hub/6853069/hubfs/xceptional-2021-theme/2233148380cbff.png?name=2233148380.png"
                                    alt="2233148380" loading="lazy"></div>
                                <div class=""><img
                                    src="../hs-fs/hubfs/Zadara_blkbfa3.png?width=350&amp;name=Zadara_blk.png"
                                    alt="Zadara_blk" loading="lazy" style="width: 350px; margin: 50px 0px;" width="350"
                                    srcset="https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=175&amp;name=Zadara_blk.png 175w, https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=350&amp;name=Zadara_blk.png 350w, https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=525&amp;name=Zadara_blk.png 525w, https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=700&amp;name=Zadara_blk.png 700w, https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=875&amp;name=Zadara_blk.png 875w, https://www.xceptional.com/hs-fs/hubfs/Zadara_blk.png?width=1050&amp;name=Zadara_blk.png 1050w"
                                    sizes="(max-width: 350px) 100vw, 350px"></div>
                                <div class="d-flex flex-column justify-content-center">&nbsp;</div>
                              </div>
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div
                class="row-fluid-wrapper row-depth-1 row-number-18 dnd_area-row-6-vertical-alignment dnd-section dnd_area-row-6-background-color">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-cell dnd-column cell_16243351478852-vertical-alignment"
                    style="" data-widget-type="cell" data-x="0" data-w="12">

                    <div class="row-fluid-wrapper row-depth-1 row-number-19 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_module_1624337123212"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">



                            <span id="hs_cos_wrapper_module_1624337123212_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="header">
                              <h2>FAQs</h2>
                            </span>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                    <div class="row-fluid-wrapper row-depth-1 row-number-20 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1624482994469"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style=""
                            data-hs-cos-general-type="widget" data-hs-cos-type="module">
                            <div class="accordion" id="xceptional-accordion">

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading1"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    How much are your managed IT plans?
                                  </button>

                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Prices range according to how much technology we'll be managing for you as well
                                      as your business size.</p>
                                    <p>As an example: a small business with 20 employees can get monitoring, service,
                                      and support for desktops/laptops, phones, servers, network, and WiFi for around
                                      $2500/month. This includes unlimited service tickets Monday - Friday from 7am -
                                      6pm with on-site San Diego managed IT assistance included if needed.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading2"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    I only want to pay you when I need you. Why would I want to pay a monthly fee?
                                  </button>

                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>By contracting with Xceptional for managed services, you receive a host of
                                      benefits that includes:</p>
                                    <ul class="custom-list">
                                      <li>Proactive monitoring and alerting (we will tell you your network is down
                                        before you even realize it – and already be started on a fix!)</li>
                                      <li>Contracted response time (managed services clients always go to the front of
                                        the line!)</li>
                                      <li>Virtual Chief Information Officer services</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading3"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    How long have you been in business?
                                  </button>

                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Xceptional was founded in 2007.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading4"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What types of clients do you support? Can you provide references?
                                  </button>

                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>We’ve worked with companies in the financial, medical, hospitality, biotech, and
                                      government verticals – to name a few. We’re always happy to provide references
                                      upon request.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading5"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse5" aria-expanded="true" aria-controls="collapse5"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What is included as part of your managed services offering?
                                  </button>

                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Xceptional provides:</p>
                                    <ul class="custom-list">
                                      <li>Proactive monitoring and alerting</li>
                                      <li>Reactive and emergency response for desktop and applications, networking and
                                        wifi</li>
                                      <li>Unified communications and collaboration tools (basically anything that you
                                        use to communicate!)</li>
                                      <li>Servers and storage</li>
                                      <li>Mobile device management.</li>
                                    </ul>
                                    <p>Our Silver, Gold, and Platinum levels include Virtual Chief Information Officer
                                      (vCIO) and procurement assistance. Additionally, should you choose to use
                                      Xceptional to perform services outside of the scope of your managed services
                                      contract, you will receive a contracted discount rate.</p>
                                    <p>For example, if you signed an MSP contract with us for your phones, but you need
                                      to do a server refresh, this project wouldn't be covered under your contract
                                      because it’s solely for your phones. However, we would give you a discount for the
                                      server work because you have an MSP contract with us.</p>
                                    <p>To proceed, we would provide a quote detailing the costs, discount, and scope of
                                      work for the server refresh. All it would take to get this started would be you
                                      informing us that you need help outside their MSP contract.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading6"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse6" aria-expanded="true" aria-controls="collapse6"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    Do you outsource your help desk support?
                                  </button>

                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Our help desk team is headquartered in San Diego and staffed with full-time
                                      employees of Xceptional. At times, we may leverage tried and true expert
                                      consultants for highly specific tasks, but you can rest assured that our core team
                                      consists of Xceptional employees.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading7"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse7" aria-expanded="true" aria-controls="collapse7"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    How is your managed services offering staffed?
                                  </button>

                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Xceptional employs a team of tier 1, 2, and 3 engineers dedicated to reactive and
                                      proactive service tickets. Additionally, we leverage architect-level engineers
                                      that specialize in network, servers, storage, and collaboration for design
                                      consulting and specialized escalations.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading8"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse8" aria-expanded="true" aria-controls="collapse8"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What is your onboarding process, and why do you charge me for it?
                                  </button>

                                </div>
                                <div id="collapse8" class="collapse" aria-labelledby="heading8"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>Our on-boarding process is customized to your specific environment and factors
                                      and includes the following:</p>
                                    <ul class="custom-list">
                                      <li>An extensive discovery and documentation review process</li>
                                      <li>Validation and creation of documentation needed to support your environment
                                      </li>
                                      <li>On-boarding of asset tracking and license management</li>
                                      <li>A dedicated project manager and technical lead</li>
                                    </ul>
                                    <p>A typical onboarding process takes about 30 days, although this varies depending
                                      on the scope of services provided and the size and complexity of your environment.
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading9"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse9" aria-expanded="true" aria-controls="collapse9"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What happens after hours when I have a problem and need help?
                                  </button>

                                </div>
                                <div id="collapse9" class="collapse" aria-labelledby="heading9"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>During the onboarding process, your project manager will discuss your options for
                                      handling requests that come in outside your contracted Period of Maintenance
                                      (POM). Xceptional has engineers available around the clock to respond to
                                      time-sensitive or emergency issues.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading10"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse10" aria-expanded="true" aria-controls="collapse10"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What does “unlimited service tickets” mean?
                                  </button>

                                </div>
                                <div id="collapse10" class="collapse" aria-labelledby="heading10"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>During your contracted Period of Maintenance, you can submit unlimited requests
                                      for assistance for items within the scope of your contract. You are not billed by
                                      number of requests, phone calls, or emails. The only time you will be billed is if
                                      you require assistance outside of your contracted POM, or request assistance that
                                      is not covered under the scope of your managed services contract.</p>
                                    <p>An example would be if you need help with your phone system and are only
                                      contracted for network support. We can help, and this assistance would be billed
                                      at the contracted discount rate.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading11"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse11" aria-expanded="true" aria-controls="collapse11"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    We have IT employees. What can you do for us?
                                  </button>

                                </div>
                                <div id="collapse11" class="collapse" aria-labelledby="heading11"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>We LOVE working with our client’s IT departments! We can function either as a
                                      totally outsourced IT model or as an extension of your current staff. Either way,
                                      you have access to a bench of dedicated engineers with expertise in all areas of
                                      IT.</p>
                                    <p>Our clients benefit from our extensive experience – if you are encountering a
                                      problem, chances are we’ve seen it before and can help you find the most efficient
                                      (and budget sensitive) solution.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="card" style="border:1px solid #FFFFFF; --random:rgba(255, 255, 255)">
                                <div class="card-header" id="heading12"
                                  style="background-color:rgba(255, 255, 255, calc(100 / 100));">

                                  <button class="text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse12" aria-expanded="true" aria-controls="collapse12"
                                    style="color:rgba(44, 45, 45, calc(100 / 100));">
                                    What kinds of companies are good candidates for remote monitoring and management
                                    services?
                                  </button>

                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="heading12"
                                  data-parent="#xceptional-accordion">
                                  <div class="card-body">
                                    <p>The short answer: most of them! Whether you are an SMB that is just starting to
                                      build your technology strategy, an organization that is unhappy with your current
                                      provider, or a large business that needs to outsource a specialized portion of
                                      your IT management, Xceptional can build a plan that works for you.</p>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-21 dnd-section">
                <div class="row-fluid ">
                  <div class="span6 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="0"
                    data-w="6">

                    <div class="row-fluid-wrapper row-depth-1 row-number-22 dnd-row">
                      <div class="row-fluid ">
                        <div
                          class="span12 widget-span widget-type-custom_widget widget_1683564953011-flexbox-positioning dnd-module"
                          style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1683564953011"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-linked_image"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">











                            <span id="hs_cos_wrapper_widget_1683564953011_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img
                                src="../hubfs/Xceptional%20Blue_Grey%20Transparent-2.png" class="hs-image-widget "
                                style="max-width: 100%; height: auto;" alt="Xceptional Blue_Grey Transparent-2"
                                title="Xceptional Blue_Grey Transparent-2" loading="lazy"></span>
                          </div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                  <div class="span6 widget-span widget-type-cell dnd-column" style="" data-widget-type="cell" data-x="6"
                    data-w="6">

                    <div class="row-fluid-wrapper row-depth-1 row-number-23 dnd-row">
                      <div class="row-fluid ">
                        <div class="span12 widget-span widget-type-custom_widget dnd-module" style=""
                          data-widget-type="custom_widget" data-x="0" data-w="12">
                          <div id="hs_cos_wrapper_widget_1624378849275"
                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text"
                            style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span
                              id="hs_cos_wrapper_widget_1624378849275_"
                              class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style=""
                              data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                              <h2 style="font-size: 30px; font-weight: bold;">About Xceptional </h2>
                              Xceptional was founded in 2007 under the direction and leadership of Chris McKewon, Chief
                              Architect and CEO. At Xceptional, strong engineering and product knowledge, vendor
                              relationships, consulting, and managed services are geared to SMB and Enterprise companies
                              across a broad cross-section of verticals. Our team works hard to establish “Trusted
                              Advisor” relationships with its clients, and to implement turnkey collaborative solutions
                              addressing a client’s total needs.&nbsp;
                            </span></div>

                        </div><!--end widget-span -->
                      </div><!--end row-->
                    </div><!--end row-wrapper -->

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

            </div><!--end widget-span -->
          </div>
        </div>
      </div>
    </main>



    <%- include ('../partials/footer') %>
  </div>



  <!-- HubSpot performance collection script -->
  <script defer src="../../static.hsappstatic.net/content-cwv-embed/static-1.388/embed.js"></script>
  <script
    src="../hs-fs/hub/6853069/hub_generated/template_assets/49003714142/1666391319550/xceptional-2021-theme/js/main.min.js"></script>
  <script>
    var hsVars = hsVars || {}; hsVars['language'] = 'en';
  </script>

  <script src="../hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script>

  <!--[if lte IE 8]>
    <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->

  <script data-hs-allowed="true" src="../_hcms/forms/v2.js"></script>

  <script data-hs-allowed="true">
    var options = {
      portalId: '6853069',
      formId: '484a05c7-5c4e-4438-960a-b6844d53c085',
      formInstanceId: '6646',
      pageId: '113901982030',
      region: 'na1',




      pageName: "Request a Quote for Managed IT Services | Xceptional",


      redirectUrl: "https:\/\/www.xceptional.com\/managed-it-services-pricing-thank-you",





      css: '',
      target: '#hs_form_target_form_825871832',





      contentType: "standard-page",



      formsBaseUrl: '/_hcms/forms/',



      formData: {
        cssClass: 'hs-form stacked hs-custom-form'
      }
    };

    options.getExtraMetaDataBeforeSubmit = function () {
      var metadata = {};


      if (hbspt.targetedContentMetadata) {
        var count = hbspt.targetedContentMetadata.length;
        var targetedContentData = [];
        for (var i = 0; i < count; i++) {
          var tc = hbspt.targetedContentMetadata[i];
          if (tc.length !== 3) {
            continue;
          }
          targetedContentData.push({
            definitionId: tc[0],
            criterionId: tc[1],
            smartTypeId: tc[2]
          });
        }
        metadata["targetedContentMetadata"] = JSON.stringify(targetedContentData);
      }

      return metadata;
    };

    hbspt.forms.create(options);
  </script>


  <script data-hs-allowed="true">
    var options = {
      portalId: '6853069',
      formId: '1a3334c5-6f2d-44e2-beea-a0bc03de3ce4',
      formInstanceId: '5474',
      pageId: '113901982030',
      region: 'na1',




      pageName: "Request a Quote for Managed IT Services | Xceptional",



      inlineMessage: "Thanks for submitting the form.",


      rawInlineMessage: "Thanks for submitting the form.",


      hsFormKey: "7e0816e7c630037d440e031104f5cddc",


      css: '',
      target: '#hs_form_target_form_231350629',





      contentType: "standard-page",



      formsBaseUrl: '/_hcms/forms/',



      formData: {
        cssClass: 'hs-form stacked hs-custom-form'
      }
    };

    options.getExtraMetaDataBeforeSubmit = function () {
      var metadata = {};


      if (hbspt.targetedContentMetadata) {
        var count = hbspt.targetedContentMetadata.length;
        var targetedContentData = [];
        for (var i = 0; i < count; i++) {
          var tc = hbspt.targetedContentMetadata[i];
          if (tc.length !== 3) {
            continue;
          }
          targetedContentData.push({
            definitionId: tc[0],
            criterionId: tc[1],
            smartTypeId: tc[2]
          });
        }
        metadata["targetedContentMetadata"] = JSON.stringify(targetedContentData);
      }

      return metadata;
    };

    hbspt.forms.create(options);
  </script>



  <!-- Start of HubSpot Analytics Code -->
  <script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "standard-page"]);
    _hsq.push(["setCanonicalUrl", "https:\/\/www.xceptional.com\/services\/request-a-quote-managed-it-services"]);
    _hsq.push(["setPageId", "113901982030"]);
    _hsq.push(["setContentMetadata", {
      "contentPageId": 113901982030,
      "legacyPageId": "113901982030",
      "contentFolderId": null,
      "contentGroupId": null,
      "abTestId": null,
      "languageVariantId": 113901982030,
      "languageCode": "en",

    }]);
  </script>

  <script type="text/javascript" id="hs-script-loader" async defer src="../hs/scriptloader/6853069.js"></script>
  <!-- End of HubSpot Analytics Code -->


  <script type="text/javascript">
    var hsVars = {
      render_id: "1f99bad2-25a2-4297-8d28-1a129f8a1354",
      ticks: 1696236344643,
      page_id: 113901982030,

      content_group_id: 0,
      portal_id: 6853069,
      app_hs_base_url: "https://app.hubspot.com",
      cp_hs_base_url: "https://cp.hubspot.com",
      language: "en",
      analytics_page_type: "standard-page",
      analytics_page_id: "113901982030",
      category_id: 1,
      folder_id: 0,
      is_hubspot_user: false
    }
  </script>


  <script defer src="../hs/hsstatic/HubspotToolsMenu/static-1.191/js/index.js"></script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVMWQ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <script src="../../code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
  <script src="../../cdn.jsdelivr.net/npm/bootstrap%404.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"
    defer></script>

</body>
<!-- Mirrored from www.xceptional.com/services/request-a-quote-managed-it-services by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Oct 2023 17:36:28 GMT -->

</html>