<!doctype html>
<html lang="en-us">
<!-- Mirrored from resources.xceptional.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jan 2024 06:21:09 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>


  <meta charset="utf-8">
  <title>Xceptional Resources</title>
  <link rel="shortcut icon" href="hubfs/fav.webp">
  <meta name="description"
    content="Browse our resources to learn about managed IT, network services, cloud services, unified communications, and more.">




  <!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
  <!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
  <!--    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">-->
  <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->



  <meta property="og:description"
    content="Browse our resources to learn about managed IT, network services, cloud services, unified communications, and more.">
  <meta property="og:title" content="Resources">
  <meta name="twitter:description"
    content="Browse our resources to learn about managed IT, network services, cloud services, unified communications, and more.">
  <meta name="twitter:title" content="Resources">





  <style>
    a.cta_button {
      -moz-box-sizing: content-box !important;
      -webkit-box-sizing: content-box !important;
      box-sizing: content-box !important;
      vertical-align: middle
    }

    .hs-breadcrumb-menu {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px
    }

    .hs-breadcrumb-menu-item {
      float: left;
      padding: 10px 0px 10px 10px
    }

    .hs-breadcrumb-menu-divider:before {
      content: '›';
      padding-left: 10px
    }

    .hs-featured-image-link {
      border: 0
    }

    .hs-featured-image {
      float: right;
      margin: 0 0 20px 20px;
      max-width: 50%
    }

    @media (max-width: 568px) {
      .hs-featured-image {
        float: none;
        margin: 0;
        width: 100%;
        max-width: 100%
      }
    }

    .hs-screen-reader-text {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute !important;
      width: 1px
    }
  </style>

  <link rel="stylesheet"
    href="hs-fs/hub/6853069/hub_generated/template_assets/49003714141/1678218767378/xceptional-2021-theme/css/main.min.css">
  <link rel="stylesheet"
    href="hs-fs/hub/6853069/hub_generated/template_assets/49003857187/1666391428183/xceptional-2021-theme/css/theme-overrides.min.css">
  <link rel="stylesheet" href="hs-fs/hub/6853069/hub_generated/template_assets/blog.min.css">
  <!-- Editor Styles -->
  <style id="hs_editor_style" type="text/css">
    #hs_cos_wrapper_widget_1623966918876 {
      display: block !important;
      text-align: center !important
    }

    .widget_1677279109651-flexbox-positioning {
      display: -ms-flexbox !important;
      -ms-flex-direction: column !important;
      -ms-flex-align: start !important;
      -ms-flex-pack: start;
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start;
    }

    .widget_1677279109651-flexbox-positioning>div {
      max-width: 100%;
      flex-shrink: 0 !important;
    }

    /* HubSpot Non-stacked Media Query Styles */
    @media (min-width:768px) {
      .footer-column-1-row-1-vertical-alignment>.row-fluid {
        display: -ms-flexbox !important;
        -ms-flex-direction: row;
        display: flex !important;
        flex-direction: row;
      }

      .cell_16656799478412-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_16656799478412-vertical-alignment>div {
        flex-shrink: 0 !important;
      }

      .cell_1665679947840-vertical-alignment {
        display: -ms-flexbox !important;
        -ms-flex-direction: column !important;
        -ms-flex-pack: center !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }

      .cell_1665679947840-vertical-alignment>div {
        flex-shrink: 0 !important;
      }
    }

    /* HubSpot Styles (default) */
    .footer-column-4-padding {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .footer-column-4-row-4-margin {
      margin-top: 12px !important;
      margin-bottom: 12px !important;
    }

    .cell_16656799478412-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .cell_1665679947840-padding {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  </style>
  <style>
    @font-face {
      font-family: "Open Sans";
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      src: url("_hcms/googlefonts/Open_Sans/regular.woff2") format("woff2"), url("_hcms/googlefonts/Open_Sans/regular.woff") format("woff");
    }
  </style>






  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- google tag manager -->
  <meta property="og:url" content="/trainings">
  <meta property="og:type" content="blog">
  <meta name="twitter:card" content="summary">
  <link rel="alternate" type="application/rss+xml" href="rss.xml">
  <meta name="twitter:domain" content="resources.xceptional.com">


  <meta http-equiv="content-language" content="en-us">









  <meta name="generator" content="HubSpot">
</head>

<body>

  <div class="body-wrapper   hs-content-id-65278960482 hs-blog-listing hs-blog-id-65278960481">

    <%- include('../partials/header.ejs') %>
    <main id="main-content" class="body-container-wrapper">
      <div class="mb-5">
        <div class="banner-image"
          style="background-image:url('/images/trainings.jpg')">
          <div class="row-fluid">
            <div class="banner-text-area text-center text-md-left px-3 px-sm-5 px-md-3">
              <h1>Resources</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h1></h1>
        <div class="row">
          <div class="col col-12 col-lg-3 mb-5">
            <div class="blog-listing-sidebar mb-4">
              <h3 class="text-center py-4 px-3 mb-0">Categories</h3>

              <ul class="nav flex-column my-3">
                <!--            <li class="nav-item mb-0">-->
                <!--              <a href="/newsletter/" title="Newsletters" class="nav-link px-5">Newsletters</a>-->
                <!--            </li>-->
                <li class="nav-item mb-0">
                  <a href="blog/index.html" title="Blog" class="nav-link px-5 ">Blog</a>
                </li>
                <li class="nav-item mb-0">
                  <a href="checklist/index.html" title="Checklists" class="nav-link px-5 ">Checklists</a>
                </li>
                <li class="nav-item mb-0">
                  <a href="e-book/index.html" title="E-books" class="nav-link px-5 ">E-books</a>
                </li>
                <li class="nav-item mb-0">
                  <a href="whitepaper/index.html" title="Whitepapers" class="nav-link px-5 ">Whitepapers</a>
                </li>



              </ul>
            </div>
            <div class="blog-listing-sidebar">
              <h3 class="text-center py-4 px-3 mb-0">Topics</h3>





              <ul class="nav flex-column my-3">

                <li class="nav-item mb-0">
                  <a href="tag/artificial-intelligence.html" title="Artificial Intelligence"
                    class="nav-link px-5 ">Artificial Intelligence</a>
                </li>


                <li class="nav-item mb-0">
                  <a href="tag/automation.html" title="Automation" class="nav-link px-5 ">Automation</a>
                </li>


                <li class="nav-item mb-0">
                  <a href="tag/business.html" title="Business" class="nav-link px-5 ">Business</a>
                </li>


                <li class="nav-item mb-0">
                  <a href="blog/tag/business-connectivity.html" title="business connectivity"
                    class="nav-link px-5 ">business connectivity</a>
                </li>


                

              </ul>
            </div>

          </div>
          <div class="col col-12 col-lg-9">
            <!-- loop through posts in custom all posts variable -->
            <section class="blog-listing">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">



                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="" src="hubfs/Xceptional_AP%20MARS%20pr%20graphic.png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        Press Release: Xceptional Partners with Leading Security Provider, All Points Logistics, LLC,
                        Bringing Innovative MARS Suite to the Market
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/xceptional-partners-with-leading-security-provider-all-points-logistics-llc-bringing-innovative-mars-suite-to-the-market.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
                      src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        Letter from the CEO: August 2023
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-august-2023.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="Locks to promote compliance"
                      src="hubfs/social-suggested-images/FTC%20Safeguards%20Rule%20(1).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        10 Ways an IT Managed Service Provider Assists with FTC Safeguards Rule Compliance
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/10-ways-an-it-managed-service-provider-assists-with-ftc-safeguards-rule-compliance.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
                      src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        Letter from the CEO: April 2023
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-april-2023.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="How can managed IT services help you grow your small business?"
                      src="hubfs/xceptional_SG1_march-1.png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        [Infographic]&nbsp;5 Benefits of Managed IT Services for Small Businesses
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/infographic-5-benefits-of-managed-it-services-for-small-businesses.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="" src="hubfs/social-suggested-images/xceptional_blog_hipaacompliance.png"
                      class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        What Are the Basics of HIPAA Compliance?
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2" href="blog/what-are-the-basics-of-hipaa-compliance.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
                      src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        Letter from the CEO: December 2022
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-december-2022.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt=" Is your network under attack?" src="hubfs/xceptional_blog_upcity.jpg"
                      class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        3 Basic Steps to Mitigate Loss During a Cyber Security Attack
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/3-basic-steps-to-mitigate-loss-during-a-cyber-security-attack.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
                      src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        Letter from the CEO: September 2022
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-september-2022.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="cyber insurance: why small businesses need coverage too"
                      src="hubfs/cobrand_Mon_Aug_29_2022%20(1).png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        [Infographic] Cyber Insurance and Why Your Small Business Needs Coverage
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/cyber-insurance-and-why-your-small-business-needs-coverage.html">Read Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img alt="cyber insurance: are you sure that you are fully covered?"
                      src="hubfs/Cyber%20Insurance%20Graphic.png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        How An IT Managed Service Provider Can Help With Cyber Insurance
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/how-an-it-managed-service-provider-can-help-with-cyber-insurance.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




                <div class="col mb-4">
                  <div class="card blog-listing-card h-100 rounded-0">
                    <img
                      alt="Does your business have the right IT solutions to comply with HIPAA? Find out with Xceptional."
                      src="hubfs/xceptional_blog_hipaarequirements.png" class="card-img-top">
                    <div class="card-header bg-transparent border-0">
                      blog
                    </div>

                    <div class="card-body py-0">

                      <h2 class="blog-post-title">
                        What Does Your Business Need to Meet HIPAA Compliance Requirements?
                      </h2>

                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                      <a class="btn btn-x mb-2"
                        href="blog/what-does-your-business-need-to-meet-hipaa-compliance-requirements.html">Read
                        Article</a>
                    </div>
                  </div>
                </div>




































































































































































































































































































































































































              </div>
            </section>
            <div class="d-flex justify-content-center my-5">

              <!--          <h1>18</h1>-->

              <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">








































                    <!--      <li class="page-item">-->
                    <!--        <a href="https://resources.xceptional.com?page_num=0" class="page-link" aria-label="Next">&laquo;</a>-->
                    <!--      </li>-->











                    <li class="active-page" s>
                      <a href="index7201.html?page_num=1" class="page-link active">1</a>
                    </li>





                    <li class="">
                      <a href="indexc865.html?page_num=2" class="page-link ">2</a>
                    </li>





                    <li class="">
                      <a href="index2fdc.html?page_num=3" class="page-link ">3</a>
                    </li>































































                    <li><a href="indexc575.html?page=6" class="page-link">…</a></li>
                    <li class="page-item"><a href="index9683.html?page=18" class="page-link ">18</a></li>







                    <!--        <li class="page-item">-->
                    <!--          <a href="https://resources.xceptional.com?page_num=2" class="page-link" aria-label="Next">&raquo;</a>-->
                    <!--        </li>-->



                  </ul>
                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>


    </main>



    <%- include('../partials/footer.ejs') %>
  </div>



  <!-- HubSpot performance collection script -->
  <script defer src="https://static.hsappstatic.net/content-cwv-embed/static-1.388/embed.js"></script>
  <script
    src="hs-fs/hub/6853069/hub_generated/template_assets/49003714142/1666391319550/xceptional-2021-theme/js/main.min.js"></script>
  <script>
    var hsVars = hsVars || {}; hsVars['language'] = 'en-us';
  </script>

  <script src="hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script>

  <!--[if lte IE 8]>
    <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->

  <script data-hs-allowed="true" src="_hcms/forms/v2.js"></script>

  <script data-hs-allowed="true">
    var options = {
      portalId: '6853069',
      formId: '1a3334c5-6f2d-44e2-beea-a0bc03de3ce4',
      formInstanceId: '3000',
      pageId: '65278960481',
      region: 'na1',






      inlineMessage: "Thanks for submitting the form.",


      rawInlineMessage: "Thanks for submitting the form.",


      hsFormKey: "c5959dd08de1c925fe0c1e1214e935f5",


      css: '',
      target: '#hs_form_target_form_717428703',





      contentType: "listing-page",



      formsBaseUrl: '/_hcms/forms/',



      formData: {
        cssClass: 'hs-form stacked hs-custom-form'
      }
    };

    options.getExtraMetaDataBeforeSubmit = function () {
      var metadata = {};


      if (hbspt.targetedContentMetadata) {
        var count = hbspt.targetedContentMetadata.length;
        var targetedContentData = [];
        for (var i = 0; i < count; i++) {
          var tc = hbspt.targetedContentMetadata[i];
          if (tc.length !== 3) {
            continue;
          }
          targetedContentData.push({
            definitionId: tc[0],
            criterionId: tc[1],
            smartTypeId: tc[2]
          });
        }
        metadata["targetedContentMetadata"] = JSON.stringify(targetedContentData);
      }

      return metadata;
    };

    hbspt.forms.create(options);
  </script>



  <!-- Start of HubSpot Analytics Code -->
  <script type="text/javascript">
    var _hsq = _hsq || [];
    _hsq.push(["setContentType", "listing-page"]);
    _hsq.push(["setCanonicalUrl", "https:\/\/resources.xceptional.com"]);
    _hsq.push(["setPageId", "65278960482"]);
    _hsq.push(["setContentMetadata", {
      "contentPageId": 65278960482,
      "legacyPageId": "65278960482",
      "contentFolderId": null,
      "contentGroupId": 65278960481,
      "abTestId": null,
      "languageVariantId": 65278960482,
      "languageCode": "en-us",

    }]);
  </script>

  <script type="text/javascript" id="hs-script-loader" async defer src="hs/scriptloader/6853069.js"></script>
  <!-- End of HubSpot Analytics Code -->


  <script type="text/javascript">
    var hsVars = {
      render_id: "b95062d1-6858-4e0b-a81e-214838671de2",
      ticks: 1705936884901,
      page_id: 65278960482,

      content_group_id: 65278960481,
      portal_id: 6853069,
      app_hs_base_url: "https://app.hubspot.com",
      cp_hs_base_url: "https://cp.hubspot.com",
      language: "en-us",
      analytics_page_type: "listing-page",
      analytics_page_id: "65278960482",
      category_id: 7,
      folder_id: 0,
      is_hubspot_user: false
    }
  </script>


  <script defer src="hs/hsstatic/HubspotToolsMenu/static-1.191/js/index.js"></script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVMWQ4L" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "../connect.facebook.net/en_US/all.js#xfbml=1&status=0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "../platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"
    defer></script>

</body>
<!-- Mirrored from resources.xceptional.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jan 2024 06:24:11 GMT -->

</html>