<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>
	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">Line Chart</h4>

					<div class="chartjs-chart">
						<canvas id="lineChart" height="300"></canvas>
					</div>

				</div>
			</div>

		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">Bar Chart</h4>

					<div class="chartjs-chart">
						<canvas id="bar" height="300"></canvas>
					</div>
				</div>
			</div>

		</div>
		<!-- end col-->

	</div>
	<!-- end row -->


	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">Pie Chart</h4>

					<div class="chartjs-chart">
						<canvas id="pie" height="300"></canvas>
					</div>

				</div>
			</div>

		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">Donut Chart</h4>

					<div class="chartjs-chart">
						<canvas id="doughnut" height="300"></canvas>
					</div>
				</div>
			</div>

		</div>
		<!-- end col-->

	</div>
	<!-- end row -->

	<div class="row">
		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">Polar area Chart</h4>

					<div class="chartjs-chart">
						<canvas id="polarArea" height="300"></canvas>
					</div>

				</div>
			</div>

		</div>
		<!-- end col-->

		<div class="col-xl-6">
			<div class="card">
				<div class="card-body">
					<div class="dropdown float-end">
						<a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="mdi mdi-dots-vertical"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-end">
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Another action</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Something else</a>
							<!-- item-->
							<a href="javascript:void(0);" class="dropdown-item">Separated link</a>
						</div>
					</div>

					<h4 class="header-title mt-0 mb-3">
						Radar Chart</h4>

					<div class="chartjs-chart">
						<canvas id="radar" height="300"></canvas>
					</div>
				</div>
			</div>

		</div>
		<!-- end col-->
	</div>
	<!-- end row -->

	<%- contentFor('FooterJs') %>
	<!-- Chart JS -->
	<script src="/libs/chart.js/Chart.bundle.min.js"></script>

	<!-- Init js -->
	<script src="/js/pages/chartjs.init.js"></script>
