<div class="ql-editor" data-gramm="false" contenteditable="true">
    <h3><span class="ql-size-large">Hello World!</span></h3>
    <p><br></p>
    <h3>This is an simple editable area.</h3>
    <p><br></p>
</div>
<div class="ql-clipboard" contenteditable="true" tabindex="-1"></div>
<div class="ql-tooltip ql-hidden"><a class="ql-preview" rel="noopener noreferrer" target="_blank"
        href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com"
        data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div>